{% extends 'base.html' %}

{% block title %}
Шифрование
{% endblock %}

{% block body %}
<div class="container">
    <div align="center">
    <h2 align="center">Выбери режим шифрования</h2>
        <a class="btn btn-warning" href="/chipper">ГОСТ Р 34.12-2015</a>
        <a class="btn btn-dark" href="/chipper1">ГОСТ Р 34.13-2015</a>
        <a class="btn btn-dark" href="/chipper2">Зашифровать текстовое сообщение</a>
    </div>
    <details>
        <summary>Режимы шифрования</summary>
         <b>1: Режим шифрования по ГОСТ 34.12-2015:</b>
         <p>В данном режиме шифруется 64 битный блок данных в шестнадцатиричном формате (HEX).
             В данном режиме можно проверить работоспособность алгоритма подставив контрольные примеры из вкладок
             "Требования к формату" и сравнить полученный результат с ГОСТ Р 34.12-2015 </p>
            <b>Внимание:</b>
            <p>В данном режиме небезопасно шифровать несколько блоков данных на основе одного мастер ключа.
            <i>Подробнее об алгоритме ГОСТ Р 34.12-2015 в разделе "О шифре"</i>
            </p>


        <b>2: Режим шифрования по ГОСТ 34.13-2015 (режим гаммирования):</b>
         <p>В данном режиме можно безопасно шифровать много блоков данных в шестнадцатиричном формате (HEX) на основе одного мастер ключа.
             В данном режиме можно проверить работоспособность алгоритма подставив контрольные примеры из вкладок
             "Требования к формату" и сравнить полученный результат с ГОСТ Р 34.13-2015. <i>Подробнее об алгоритме ГОСТ Р 34.13-2015 в разделе "О шифре"</i></p>


        <b>3: Режим шифрования "Зашифровать текстовое сообщение":</b>
         <p>В данном режиме в поле ввода можно вводить обыкновенное сообщение в виде текста, оно будет преобразовано в HEX и зашифровано в режиме гаммирования по ГОСТ Р 34.13-2015</p>
        <b>Внимание:</b><p>Ограничение 150 символов для экономии вычислительных ресурсов сервера</p>
        <p>Для каждого следующего блока данных сформируйте новый ключ</p>
    </details>
    <h2 align="center">ГОСТ Р 34.12-2015</h2>
    <details>
        <summary>Формат записи ключа</summary>
        <p> Ключ должен содержать строго 64 символа, в 16-ричном формате (HEX)</p>
        <p> Контрольный пример из ГОСТ Р 34.12-2015: 8899aabbccddeeff0011223344556677fedcba98765432100123456789abcdef</p>
    </details>
    <details >
        <summary>Формат записи данных</summary>
        <p> Блок исходных данных должен содержать строго 32 символа, в 16-ричном формате (HEX)</p>
        <p> Контрольный пример из ГОСТ Р 34.12-2015: 1122334455667700ffeeddccbbaa9988</p>
        <p> Результат шифрования из контрольного примера по ГОСТ Р 34.12-2015: 7f679d90bebc24305a468d42b9d4edcd</p>
    </details>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form method="post">
        <p><label>Введите ключ:</label> <input type="text" name="key" id="key" value="{{ key }}" class="form-control" ><br>
        <input type="submit" class="btn btn-warning btn-sm" value="Сгенерировать ключ" name="btn"><br>
        <p><label>Введите сообщение:</label> <input type="text" name="text" id="text" value="{{ text }}" class="form-control"><br>
        <input type="submit" class="btn btn-primary" value="Зашифровать" name="btn"><br>
        {% block res %}{% endblock %}
    </form>
</div>
{% endblock %}