{% extends 'base.html' %}

{% block title %}
Шифрование
{% endblock %}

{% block body %}
<div class="container">
    <div align="center">
    <h2 align="center">Выбери режим шифрования</h2>
        <a class="btn btn-dark" href="/chipper">ГОСТ Р 34.12-2015</a>
        <a class="btn btn-warning" href="/chipper1">ГОСТ Р 34.13-2015</a>
        <a class="btn btn-dark" href="/chipper2">Зашифровать текстовое сообщение</a>
    </div>
    <details>
        <summary>Режимы шифрования</summary>
         <b>1: Режим шифрования по ГОСТ 34.12-2015:</b>
         <p>В данном режиме шифруется 64 битный блок данных в шестнадцатиричном формате (HEX).
             В данном режиме можно проверить работоспособность алгоритма подставив контрольные примеры из вкладок
             "Требования к формату" и сравнить полученный результат с ГОСТ Р 34.12-2015 </p>
            <b>Внимание:</b>
            <p>В данном режиме небезопасно шифровать несколько блоков данных на основе одного мастер ключа.
            <i>Подробнее об алгоритме ГОСТ Р 34.12-2015 в разделе "О шифре"</i>
            </p>


        <b>2: Режим шифрования по ГОСТ 34.13-2015 (режим гаммирования):</b>
         <p>В данном режиме можно безопасно шифровать много блоков данных в шестнадцатиричном формате (HEX) на основе одного мастер ключа.
             В данном режиме можно проверить работоспособность алгоритма подставив контрольные примеры из вкладок
             "Требования к формату" и сравнить полученный результат с ГОСТ Р 34.13-2015. <i>Подробнее об алгоритме ГОСТ Р 34.13-2015 в разделе "О шифре"</i></p>


        <b>3: Режим шифрования "Зашифровать текстовое сообщение":</b>
         <p>В данном режиме в поле ввода можно вводить обыкновенное сообщение в виде текста, оно будет преобразовано в HEX и зашифровано в режиме гаммирования по ГОСТ Р 34.13-2015</p>
        <b>Внимание:</b><p>Ограничение 150 символов для экономии вычислительных ресурсов сервера</p>
        <p>Для каждого следующего блока данных сформируйте новый ключ</p>
    </details>
        <h2 align="center">ГОСТ Р 34.13-2015</h2>
    <details>
        <summary>Формат записи ключа</summary>
        <p> Ключ должен содержать строго 64 символа, в 16-ричном формате (HEX)</p>
        <p> Контрольный пример из ГОСТ Р 34.13-2015: 8899aabbccddeeff0011223344556677fedcba98765432100123456789abcdef</p>
    </details>
    <details>
        <summary>Формат записи синхропосылки - IV</summary>
        <p> IV должна содержать строго 16 символов, в 16-ричном формате (HEX)</p>
        <p> Контрольный пример из ГОСТ Р 34.13-2015: 1234567890abcef0</p>
    </details>
    <details >
        <summary>Формат записи данных</summary>
        <p> В данном режиме можно записать произвольное количество символов, записывать данные следует без пробелов, в 16-ричном формате (HEX). Последовательность символов будет разбита на блоки по 32 символа каждый,
            если общая длина последовательности не будет кратна 32-м, то крайний блок будет заполнен нулями до 32-х символов</p>
        <p> Контрольный пример из ГОСТ Р 34.13-2015: 1122334455667700ffeeddccbbaa998800112233445566778899aabbcceeff0a112233445566778899aabbcceeff0a002233445566778899aabbcceeff0a0011</p>
        <p> Результат шифрования из контрольного примера по ГОСТ Р 34.12-2015: f195d8bec10ed1dbd57b5fa240bda1b885eee733f6a13e5df33ce4b33c45dee4a5eae88be6356ed3d5e877f13564a3a5cb91fab1f20cbab6d1c6d15820bdba73</p>
    </details>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    <form method="post">
        <p><label>Введите ключ:</label> <input type="text" name="key" id="key" value="{{ key }}" class="form-control" ><br>
        <input type="submit" class="btn btn-warning btn-sm" value="Сгенерировать ключ" name="btn"><br>
        <p><label>Введите синхропосылку - IV:</label> <input type="text" name="IV" id="IV" value="{{ IV }}" class="form-control" ><br>
        <input type="submit" class="btn btn-warning btn-sm" value="Сгенерировать синхропосылку - IV" name="btn"><br>
        <p><label>Введите сообщение:</label> <input type="text" name="text" id="text" value="{{ text }}" class="form-control"><br>
        <input type="submit" class="btn btn-primary" value="Зашифровать" name="btn"><br>
         {% block res %}{% endblock %}
    </form>
</div>
{% endblock %}