{% extends 'base.html' %}

{% block title %}
Инструкция
{% endblock %}

{% block body %}
<div align="center">
    <b>В данном проекте представлено шифрование и расшифрование по криптографическому алгоритму <a href="/" style="color:orange; text-decoration: none">"Кузнечик"</a></b><br>
    <b>На вкладке <a href="/chipper2" style="color:orange; text-decoration: none">"Зашифровать"</a> представлено 3 режима шифрования.</b>
</div>
<hr>
<body>
    <div align="center" style="padding-top: 3em">
        <h3 align="left" style="color: orange">ГОСТ 34.12.2015</h3>
        <p align="justify"> Данный режим демонстрирует работу "чистого" алгоритма из ГОСТ.
          <em>  Кузнечик — блочный алгоритм, он работает с блоками данных длинной
        128 бит или 16 байт.</em> Длина ключа составляет 256 бит (32 байта). Сообщение, подлежащее шифрованию и ключ должны быть как в ГОСТ.
        В данном режиме можно ознакомиться с работой шифра и проверить корректность его работы.
        Для этого можно подставить ключ и блок данных из контрольного примера ГОСТ 34.12.2015.
        На вкладке "Зашифровать" нужно выбрать режим "ГОСТ 34.12.2015", раскрыть "формат записи данных", там будут указаны контрольные примеры ключа и блока данных.
        Или можно самостоятельно скопировать данные значения из ГОСТ, далее нужно нажать "зашифровать", отобразиться зашифрованное сообщение.</p>
        <div align="left" style="padding-top: 2em">
            <img src="static/image/1.jpg"/>
        </div>
        <p align="justify" style="padding-top: 2em">
        В данном режиме можно "Сгенерировать ключ", ключ будет рандомно сгенерирован, далее можно ввести свой блок данных согласно формату и передать получателю
        ключ и зашифрованное сообщение для его расшифровки. <br>
        Если есть необходимость зашифровать несколько блоков данных при использовании одного ключа, то в данном режиме, с точки зрения криптографии, это делать небезопасно.
        Для этого следует воспользоваться режимом ГОСТ 34.13.2015.</p>

    </div>
<hr>
    <div align="center" style="padding-top: 3em">
        <h3 align="left" style="color: orange">ГОСТ 34.13.2015</h3>
        <p align="justify">Данный режим также демонстрирует работу "чистого" алгоритма из ГОСТ, но в данном случае демонстрируется ГОСТ 34.13.2015.
        Данный режим, в отличие от предыдущего, позволяет безопасно шифровать более одного блока данных одним ключом шифрования.
        В данном режиме можно ознакомиться с работой шифра и проверить корректность его работы.
        На вкладке "Зашифровать" нужно выбрать режим "ГОСТ 34.13.2015", раскрыть "формат записи данных", там будут указаны контрольные примеры ключа, синхропосылки
        и блока данных.
        Или можно самостоятельно скопировать данные значения из ГОСТ, далее нужно нажать "зашифровать", отобразиться зашифрованное сообщение.
        Если исходное сообщение не будет кратно длине одного блока данных (128 бит) то последний блок будет автоматически дополнен нулями.</p>
    </div>
    <hr>
    <div align="center" style="padding-top: 3em">
        <h3 align="left" style="color: orange">Зашифровать текстовое сообщение</h3>
        <p align="justify">Данный режим предоставляет возможность шифровать обыкновенный текст (латиница/киррилица). Так как текстовое сообщение может быть достаточно длинным,
        шифрование производится по ГОСТ 34.13.2015 в режиме гаммирования, но следует учитывать, для безопасности следует использовать новый ключ для каждого последующего текстового сообщения.
        Каждый символ из текста преобразовывается в двоичный код, согласно кодировке utf-8, далее данный код преобразовывается в 16-ричный формат, из всех преобразованных символов формируются 16-ричные блоки данных.
        Далее эти блоки шифруются по ГОСТ 34.13.2015.
        Для шифрования в данном режиме следует ввести ключ шифрования, синхропосылку (гамму шифра), либо сгенерировать рандомно данные значения, далее ввести сообщение и нажать "зашифровать".
            <br>
        Для проверки можно вставить значения ключа и синхропосылки из ГОСТ,
        данные значения представлены в формате записи, или придумать данные значения самостоятельно, ввести любой текст, зашифровать.</p>
        <div align="left" style="padding-top: 2em">
            <img src="static/image/2.jpg"/>
        </div>
        <p align="justify" style="padding-top: 2em">
        На вкладке "Расшифровать" в поле ввода ключа и синхропосылки вставить значения, которые использовались для шифрования, ввести шифрованное
        сообщение и нажать "расшифровать".
        <div align="left" style="padding-top: 2em">
            <img src="static/image/3.jpg"/>
        </div>
        <p align="justify" style="padding-top: 2em">
        Для удобства, если использовались значения ключа и синхропосылки из ГОСТ, то при расшифровании можно нажать на кнопки около полей ввода и подставить значения из ГОСТ, без необходимости их копировать.</p>
        <p align="justify" style="padding-top: 1em">Подробнее о работе шифра можно прочитать в разделе <a href="/" style="color:orange; text-decoration: none">"О шифре"</a>.</p>
    </div>
</body>
{% endblock %}